#### raw data overview & label mapping

In [1]:
import pandas as pd
import numpy as np

In [2]:
# load dataset
anno = pd.read_csv('../dataset/annofix.csv',index_col=0)
edata = pd.read_csv('../dataset/eshort.csv',index_col=0)

In [3]:
anno

,sex,age,edu,end,GAF,RIN,raw_reads,clean_reads,Q20,Q30,...,SV8,SV9,SV10,SV11,NK,CC,virus,LP,sips,pscore
id,,,,,,,,,,,,,,,,,,,,,
n337,f,14,8,sym,56,8.1,7.911602,7.901730,97.24,92.79,...,-0.073186,0.005827,-0.000543,0.005647,0.004055,0.035119,0.066830,-0.013096,31,11
n342,m,17,9,sym,52,9.0,7.886186,7.877051,97.52,93.32,...,-0.066406,-0.157171,-0.035082,-0.040303,0.037363,0.037950,0.059188,-0.017488,34,4
n346,m,17,9,sym,47,8.8,7.936888,7.928224,97.39,93.09,...,-0.052265,0.031095,-0.020729,0.102335,-0.066530,-0.041567,0.264255,-0.012749,59,15
n348,m,21,14,sym,48,8.3,7.857012,7.849438,97.24,92.78,...,-0.029202,-0.046029,0.178503,0.077423,0.165338,0.266639,0.101687,-0.017096,34,0
n349,m,18,9,con,46,8.3,7.973639,7.963862,98.07,94.73,...,-0.195343,-0.068118,-0.058421,0.007673,-0.000585,-0.063100,-0.048688,0.104332,42,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
n442c,f,14,8,sym,66,8.8,7.989200,7.983345,97.68,93.76,...,0.101836,0.026601,0.030326,0.026787,0.086662,-0.007568,0.007942,-0.003893,21,6
n449c,m,15,9,re,72,7.9,7.994069,7.985102,97.71,93.89,...,0.084630,0.037432,-0.048947,-0.082435,0.002116,-0.047479,-0.019303,-0.008848,15,2
n457c,f,27,16,sym,71,6.9,7.999861,7.991270,97.48,93.40,...,0.169584,0.073643,-0.097116,0.037249,0.090897,-0.018015,0.014526,-0.016906,25,7
n465c,f,14,8,sym,60,7.5,8.022328,8.013831,97.73,93.97,...,0.118327,0.055029,-0.010515,0.103375,-0.070144,-0.065045,-0.051938,-0.018346,38,6
n490c,m,16,7,sym,51,8.4,7.997217,7.988606,97.74,93.98,...,-0.013196,0.051053,0.095580,0.035752,-0.147858,0.009039,-0.166722,-0.025842,43,5

In [4]:
edata = edata.T
edata

,HBB,HBA2,HBA1,ACTB,MT-CO1,CSF3R,HLA-E,HLA-B,EEF1A1,HLA-C,...,RBMY1A3P,AC126323.5,AC023824.3,AC087463.2,AL139135.2,KSR1P1,AC104454.1,AC098657.1,AC027309.3,AL732618.1
n337,205717.28260,113973.36790,44163.82612,4539.963745,7638.616594,2276.049601,4189.958648,2634.736384,1190.606062,6447.406271,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
n342,192607.18100,73459.25338,16204.60966,2588.389939,4701.686869,1753.104632,3481.836883,2630.528290,4647.228619,2984.455618,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
n346,219201.26590,158469.17920,45447.25219,4206.592077,5342.253131,2177.205278,5065.385692,4103.962777,1115.767606,2519.701010,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
n348,102662.55490,71371.45919,33766.19439,4907.796236,9756.984992,2126.209777,5750.195618,4977.726105,1687.182052,4305.838480,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
n349,269508.23020,156702.59760,79013.12159,3333.617249,6303.725443,1954.429530,3384.414590,2576.721296,1299.937192,3560.163877,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
n442c,134655.88270,129263.94390,71552.29520,5261.814916,9136.110207,1826.796023,4591.905018,5590.624443,2652.123726,6724.974628,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
n449c,182647.76340,240233.89560,106608.77560,4623.755315,10314.774820,956.702520,2820.353878,2602.665392,1288.697912,2622.604221,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
n457c,94706.74672,131741.65380,45063.70883,5912.890576,16237.060130,1351.252281,4223.996180,3736.757116,2690.945915,5783.165907,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
n465c,190697.48350,226199.22310,107742.81920,3276.711857,6622.629215,1387.441898,2981.121384,2324.485704,1607.906479,2838.299400,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
n490c,244597.44070,370995.70360,112191.06650,2355.318343,4229.294848,736.090559,2317.883839,2239.387529,526.628592,2038.018313,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
merged = anno.join(edata)
merged

,sex,age,edu,end,GAF,RIN,raw_reads,clean_reads,Q20,Q30,...,RBMY1A3P,AC126323.5,AC023824.3,AC087463.2,AL139135.2,KSR1P1,AC104454.1,AC098657.1,AC027309.3,AL732618.1
id,,,,,,,,,,,,,,,,,,,,,
n337,f,14,8,sym,56,8.1,7.911602,7.901730,97.24,92.79,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
n342,m,17,9,sym,52,9.0,7.886186,7.877051,97.52,93.32,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
n346,m,17,9,sym,47,8.8,7.936888,7.928224,97.39,93.09,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
n348,m,21,14,sym,48,8.3,7.857012,7.849438,97.24,92.78,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
n349,m,18,9,con,46,8.3,7.973639,7.963862,98.07,94.73,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
n442c,f,14,8,sym,66,8.8,7.989200,7.983345,97.68,93.76,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
n449c,m,15,9,re,72,7.9,7.994069,7.985102,97.71,93.89,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
n457c,f,27,16,sym,71,6.9,7.999861,7.991270,97.48,93.40,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
n465c,f,14,8,sym,60,7.5,8.022328,8.013831,97.73,93.97,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
n490c,m,16,7,sym,51,8.4,7.997217,7.988606,97.74,93.98,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
merged = merged.drop(['n494c','n337c'])
merged = merged.loc[:, ~merged.columns.duplicated()]

print(merged)
merged.to_pickle('../dataset/merged_data.pkl')

      sex  age  edu  end  GAF  RIN  raw_reads  clean_reads    Q20    Q30  ...  \
id                                                                        ...
n337    f   14    8  sym   56  8.1   7.911602     7.901730  97.24  92.79  ...
n342    m   17    9  sym   52  9.0   7.886186     7.877051  97.52  93.32  ...
n346    m   17    9  sym   47  8.8   7.936888     7.928224  97.39  93.09  ...
n348    m   21   14  sym   48  8.3   7.857012     7.849438  97.24  92.78  ...
n349    m   18    9  con   46  8.3   7.973639     7.963862  98.07  94.73  ...
...    ..  ...  ...  ...  ...  ...        ...          ...    ...    ...  ...
n442c   f   14    8  sym   66  8.8   7.989200     7.983345  97.68  93.76  ...
n449c   m   15    9   re   72  7.9   7.994069     7.985102  97.71  93.89  ...
n457c   f   27   16  sym   71  6.9   7.999861     7.991270  97.48  93.40  ...
n465c   f   14    8  sym   60  7.5   8.022328     8.013831  97.73  93.97  ...
n490c   m   16    7  sym   51  8.4   7.997217     7.988606  97.74  93.98  ...

       RBMY1A3P  AC126323.5  AC023824.3  AC087463.2  AL139135.2  KSR1P1  \
id
n337        0.0         0.0         0.0         0.0         0.0     0.0
n342        0.0         0.0         0.0         0.0         0.0     0.0
n346        0.0         0.0         0.0         0.0         0.0     0.0
n348        0.0         0.0         0.0         0.0         0.0     0.0
n349        0.0         0.0         0.0         0.0         0.0     0.0
...         ...         ...         ...         ...         ...     ...
n442c       0.0         0.0         0.0         0.0         0.0     0.0
n449c       0.0         0.0         0.0         0.0         0.0     0.0
n457c       0.0         0.0         0.0         0.0         0.0     0.0
n465c       0.0         0.0         0.0         0.0         0.0     0.0
n490c       0.0         0.0         0.0         0.0         0.0     0.0

       AC104454.1  AC098657.1  AC027309.3  AL732618.1
id
n337          0.0         0.0         0.0         0.0
n342          0.0         0.0         0.0         0.0
n346          0.0         0.0         0.0         0.0
n348          0.0         0.0         0.0         0.0
n349          0.0         0.0         0.0         0.0
...           ...         ...         ...         ...
n442c         0.0         0.0         0.0         0.0
n449c         0.0         0.0         0.0         0.0
n457c         0.0         0.0         0.0         0.0
n465c         0.0         0.0         0.0         0.0
n490c         0.0         0.0         0.0         0.0

[110 rows x 57221 columns]

In [7]:
merged = pd.read_pickle('../dataset/merged_data.pkl')
merged.replace('f', 1, inplace=True)
merged.replace('m', 0, inplace=True)
merged.replace('re', 0, inplace=True)
merged.replace('sym', 0, inplace=True)
merged.replace('con', 1, inplace=True)
merged

,sex,age,edu,end,GAF,RIN,raw_reads,clean_reads,Q20,Q30,...,RBMY1A3P,AC126323.5,AC023824.3,AC087463.2,AL139135.2,KSR1P1,AC104454.1,AC098657.1,AC027309.3,AL732618.1
id,,,,,,,,,,,,,,,,,,,,,
n337,1,14,8,0,56,8.1,7.911602,7.901730,97.24,92.79,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
n342,0,17,9,0,52,9.0,7.886186,7.877051,97.52,93.32,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
n346,0,17,9,0,47,8.8,7.936888,7.928224,97.39,93.09,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
n348,0,21,14,0,48,8.3,7.857012,7.849438,97.24,92.78,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
n349,0,18,9,1,46,8.3,7.973639,7.963862,98.07,94.73,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
n442c,1,14,8,0,66,8.8,7.989200,7.983345,97.68,93.76,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
n449c,0,15,9,0,72,7.9,7.994069,7.985102,97.71,93.89,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
n457c,1,27,16,0,71,6.9,7.999861,7.991270,97.48,93.40,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
n465c,1,14,8,0,60,7.5,8.022328,8.013831,97.73,93.97,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
n490c,0,16,7,0,51,8.4,7.997217,7.988606,97.74,93.98,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
label = np.array(merged['end'])
label

array([0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
      dtype=int64)

In [9]:
merged.to_pickle('../dataset/merged_data_2class.pkl')

In [10]:
merged = pd.read_pickle('../dataset/merged_data.pkl')
merged.replace('f', 1, inplace=True)
merged.replace('m', 0, inplace=True)
merged.replace('re', 0, inplace=True)
merged.replace('sym', 1, inplace=True)
merged.replace('con', 2, inplace=True)
merged

,sex,age,edu,end,GAF,RIN,raw_reads,clean_reads,Q20,Q30,...,RBMY1A3P,AC126323.5,AC023824.3,AC087463.2,AL139135.2,KSR1P1,AC104454.1,AC098657.1,AC027309.3,AL732618.1
id,,,,,,,,,,,,,,,,,,,,,
n337,1,14,8,1,56,8.1,7.911602,7.901730,97.24,92.79,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
n342,0,17,9,1,52,9.0,7.886186,7.877051,97.52,93.32,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
n346,0,17,9,1,47,8.8,7.936888,7.928224,97.39,93.09,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
n348,0,21,14,1,48,8.3,7.857012,7.849438,97.24,92.78,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
n349,0,18,9,2,46,8.3,7.973639,7.963862,98.07,94.73,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
n442c,1,14,8,1,66,8.8,7.989200,7.983345,97.68,93.76,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
n449c,0,15,9,0,72,7.9,7.994069,7.985102,97.71,93.89,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
n457c,1,27,16,1,71,6.9,7.999861,7.991270,97.48,93.40,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
n465c,1,14,8,1,60,7.5,8.022328,8.013831,97.73,93.97,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
n490c,0,16,7,1,51,8.4,7.997217,7.988606,97.74,93.98,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
merged.to_pickle('../dataset/merged_data_3class.pkl')

In [12]:
merged = pd.read_pickle('../dataset/merged_data.pkl')
#merged.to_csv('../dataset/merged_data.csv')
merged

,sex,age,edu,end,GAF,RIN,raw_reads,clean_reads,Q20,Q30,...,RBMY1A3P,AC126323.5,AC023824.3,AC087463.2,AL139135.2,KSR1P1,AC104454.1,AC098657.1,AC027309.3,AL732618.1
id,,,,,,,,,,,,,,,,,,,,,
n337,f,14,8,sym,56,8.1,7.911602,7.901730,97.24,92.79,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
n342,m,17,9,sym,52,9.0,7.886186,7.877051,97.52,93.32,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
n346,m,17,9,sym,47,8.8,7.936888,7.928224,97.39,93.09,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
n348,m,21,14,sym,48,8.3,7.857012,7.849438,97.24,92.78,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
n349,m,18,9,con,46,8.3,7.973639,7.963862,98.07,94.73,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
n442c,f,14,8,sym,66,8.8,7.989200,7.983345,97.68,93.76,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
n449c,m,15,9,re,72,7.9,7.994069,7.985102,97.71,93.89,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
n457c,f,27,16,sym,71,6.9,7.999861,7.991270,97.48,93.40,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
n465c,f,14,8,sym,60,7.5,8.022328,8.013831,97.73,93.97,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
n490c,m,16,7,sym,51,8.4,7.997217,7.988606,97.74,93.98,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
# 2-class
merged = pd.read_pickle('../dataset/merged_data.pkl')
merged.replace('f', 1, inplace=True)
merged.replace('m', 0, inplace=True)
merged.replace('re', 0, inplace=True)
merged.replace('sym', 0, inplace=True)
merged.replace('con', 1, inplace=True)

year1 = merged[~merged.index.str.contains('c')]
year2 = merged[merged.index.str.contains('c')]

year1.to_pickle('../dataset/year1_3class.pkl')
year1.to_pickle('../dataset/year2_3class.pkl')

In [14]:
# 3-class
merged = pd.read_pickle('../dataset/merged_data.pkl')
merged.replace('f', 1, inplace=True)
merged.replace('m', 0, inplace=True)
merged.replace('re', 0, inplace=True)
merged.replace('sym', 1, inplace=True)
merged.replace('con', 2, inplace=True)

year1 = merged[~merged.index.str.contains('c')]
year2 = merged[merged.index.str.contains('c')]

year1.to_pickle('../dataset/year1_3class.pkl')
year1.to_pickle('../dataset/year2_3class.pkl')